{% extends "base.html" %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">order_id</th>
                    <th scope="col"></th>
                    <th scope="col">products</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            {% for order in orders %}
            <tr>
                <td class="p-3 w-25">
                    <p class="my-0"><strong>{{ order.order_id }}</strong></p>
                </td>
                <td class="py-3">
                    
                </td>
                <td class="py-3">
                   {{order.klarna_line_items}} 
                </td>

                <td>
                  <a href="{% url 'capture' order.order_id %}"><button class="btn btn-success">Ship Order</button></a>
                </td>
            </tr>
    {% endfor %}
        </table>
    </div>
{% endblock %}