{% extends "base.html" %}

{% block content %}
<h2>Product Details</h2>
    {% if product.alfa_acid %}
        <p>
        {{ product.name }}
        {{ product.alfa_acid }}
        {{ product.beta_acid }}
        </p>
    {% elif product.malt_type %}
        <p>
        {{ product.name }}
        {{product.malt_type}}
        </p>
    {% elif product.fermenting_temp %}
        <p>
        {{ product.name }}
        {{product.fermenting_temp}}
        </p>
    {% elif product.eq_type %}
        <p>
        {{ product.name }}
        {{product.eq_type}}
        </p>
    {% elif product.author %}
        <p>
        {{ product.name }}
        </p>
    {% endif %}
    
{% endblock %}