{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>
        <div class="col-gl-5">
            <h2> {{ product.name }} </h2>
            {% if product.aroma %}
                <p> <b>Aroma:</b> {{ product.aroma }}</p>
                <p> <b>Use:</b> {{ product.use }}</p>
                <p> <b>Substitue:</b> {{ product.substitute }}</p>
                <p> <b>Alfa-acid:</b> {{ product.alfa_acid }} %</p>
                <p> <b>Beta-acid:</b> {{ product.beta_acid }} %</p>
            {% elif product.malt_type %}
                <p> <b>Malt Type:</b> {{ product.malt_type }}</p>
                <p> <b>Description:</b> {{ product.description }}</p>
                <p> <b>Producer:</b> {{ product.producer }}</p>
            {% elif product.dosage %}
                <p> <b>Flocctuation:</b> {{ product.malt_type }}</p>
                <p> <b>Pitching:</b> {{ product.malt_type }}</p>
                <p> <b>Dosage:</b> {{ product.malt_type }}</p>
                <p> <b>Fermentation temperature:</b> {{ product.malt_type }}</p>
                <p> <b>Packaging:</b> {{ product.malt_type }}</p>
            {% elif product.eq_type %}
                <p> <b>Equipment Type:</b> {{ product.eq_type }}</p>
                <p> <b>Description:</b> {{ product.description }}</p>
                <p> <b>Malt Type:</b> {{ product.malt_type }}</p>
            {% elif product.author %}
                <p> <b>Description:</b> {{ product.description }}</p>
                <p> <b>Author:</b> {{ product.author }}</p>
            {% endif %}
            <p> <b>Price: {{ product.price }} € </b> </p>
            <form class="form" method="POST" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
                <label for="amount">Amount:</label>
                <input type="number" value="1" min="1" max="99" name="amount" data-item_id="{{ product.id }}" id="id_amount_{{ product.id }}" >
                <input type="submit" value="Add to cart" class="btn btn-primary">
                <input type="hidden" name="redirect_url" value="{{ request.path }}"> 
            </form>

        
        </div>
    </div>
</div>
{% endblock %}